# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #
*.class

# Package Files #
*.jar
*.war
*.ear

# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.externalToolBuilders/
.settings/
.loadpath
.project
.classpath
.springBeans

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# --------------- #
# Studio-specific #
# --------------- #
target/
reports/
.mule/**
.mule/**/*
velocity.log

# Log files #
/*.log
/*.log.*

# Output folders #
/test-output/

# IntelliJ Idea files #
.idea
.idea/
*.iml
out/
.idea_modules/

# OS files #
.DS_Store
.svn
._*
/bin/
